.benefit__wrap {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.benefit {
    padding-top: 60px;
    padding-bottom: 60px;
  display: flex;
  @media screen and (min-width:1198.98px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__text {
    color: $primary-text-color;
    line-height: 1.71;
    text-decoration: $text-decoration;
  }
}
.benefit__list {
  @extend %ul;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.benefit__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1198.98px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.benefit__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  &-visually {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
