.row {
    display: flex;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-right {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.header-contact:not(:last-child) {
    margin-right: 50px;
}