.studio {
    text-decoration: none;
    margin-right: 93px;
}

.logo {
    color: $accent-color;
    font-family: Raleway;
    font-size: 26px;
    line-height: calc(31/26);
}

.logo-second {
    color: #000000;
    font-family: Raleway;
    font-size: 26px;
    line-height: calc(31/26);
}